<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>guider_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{54,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>guider_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{352,362}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{350,360}</string>
      </dict>
      <key>guider_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{197,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{195,30}</string>
      </dict>
      <key>guider_000003</key>
      <dict>
        <key>frame</key>
        <string>{{54,394},{30,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>guider.png</string>
      <key>size</key>
      <string>{352,462}</string>
      <key>textureFileName</key>
      <string>guider.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>newSymbol</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,429.70,627.45</string>
        <key>anchorX</key>
        <real>0.01792</real>
        <key>anchorY</key>
        <real>0.01355</real>
        <key>children</key>
        <dict>
          <key>selectBut</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>94.70,263.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>closeBut</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>362.70,601.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i647</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>79.70,627.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i650</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>94.70,264.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>