<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>over_000000</key>
      <dict>
        <key>frame</key>
        <string>{{261,466},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>over_000001</key>
      <dict>
        <key>frame</key>
        <string>{{374,466},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>over_000002</key>
      <dict>
        <key>frame</key>
        <string>{{261,661},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>over_000003</key>
      <dict>
        <key>frame</key>
        <string>{{261,596},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>over_000004</key>
      <dict>
        <key>frame</key>
        <string>{{261,531},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>over_000005</key>
      <dict>
        <key>frame</key>
        <string>{{374,531},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>over_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{261,233}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
      <key>over_000007</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{261,233}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
      <key>over_000008</key>
      <dict>
        <key>frame</key>
        <string>{{261,233},{261,233}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
      <key>over_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,233},{261,237}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{259,235}</string>
      </dict>
      <key>over_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{261,233}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>over.png</string>
      <key>size</key>
      <string>{662,738}</string>
      <key>textureFileName</key>
      <string>over.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset31</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset32</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset33</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset34</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset37</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset38</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>blacksuccess</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,378.15,604.95</string>
        <key>anchorX</key>
        <real>0.02036</real>
        <key>anchorY</key>
        <real>0.01405</real>
        <key>children</key>
        <dict>
          <key>replayBut</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>267.15,363.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>backBut</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>119.15,363.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i873</key>
          <dict>
            <key>class</key>
            <string>asset30</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>119.15,604.95,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>peace</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,380.15,605.95</string>
        <key>anchorX</key>
        <real>0.02026</real>
        <key>anchorY</key>
        <real>0.01403</real>
        <key>children</key>
        <dict>
          <key>replayBut</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>269.15,370.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>backBut</key>
          <dict>
            <key>class</key>
            <string>asset38</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>117.15,370.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i902</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>120.15,605.95,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>whitesuccess</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,380.15,609.00</string>
        <key>anchorX</key>
        <real>0.02026</real>
        <key>anchorY</key>
        <real>0.01396</real>
        <key>children</key>
        <dict>
          <key>i933</key>
          <dict>
            <key>class</key>
            <string>asset42</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>118.15,609.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>replayBut</key>
          <dict>
            <key>class</key>
            <string>asset34</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>324.65,346.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>backBut</key>
          <dict>
            <key>class</key>
            <string>asset33</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>173.65,346.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>youfail</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,381.15,607.95</string>
        <key>anchorX</key>
        <real>0.02020</real>
        <key>anchorY</key>
        <real>0.01398</real>
        <key>children</key>
        <dict>
          <key>replayBut</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>270.15,376.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>backBut</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>119.15,376.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i960</key>
          <dict>
            <key>class</key>
            <string>asset35</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>119.15,607.95,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>yousuccess</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,377.15,607.00</string>
        <key>anchorX</key>
        <real>0.02042</real>
        <key>anchorY</key>
        <real>0.01400</real>
        <key>children</key>
        <dict>
          <key>replayBut</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>264.15,376.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>backBut</key>
          <dict>
            <key>class</key>
            <string>asset38</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>116.15,376.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i989</key>
          <dict>
            <key>class</key>
            <string>asset36</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>118.15,607.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>