<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>play_000000</key>
      <dict>
        <key>frame</key>
        <string>{{261,802},{117,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,67}</string>
      </dict>
      <key>play_000001</key>
      <dict>
        <key>frame</key>
        <string>{{261,940},{117,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,67}</string>
      </dict>
      <key>play_000002</key>
      <dict>
        <key>frame</key>
        <string>{{261,871},{117,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,67}</string>
      </dict>
      <key>play_000003</key>
      <dict>
        <key>frame</key>
        <string>{{378,802},{77,57}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>play_000004</key>
      <dict>
        <key>frame</key>
        <string>{{215,1039},{45,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{43,43}</string>
      </dict>
      <key>play_000005</key>
      <dict>
        <key>frame</key>
        <string>{{378,859},{44,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{42,42}</string>
      </dict>
      <key>play_000006</key>
      <dict>
        <key>frame</key>
        <string>{{378,903},{35,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>play_000007</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
      <key>play_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,1039},{215,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{213,35}</string>
      </dict>
      <key>play_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{261,237}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{259,235}</string>
      </dict>
      <key>play_000010</key>
      <dict>
        <key>frame</key>
        <string>{{374,1009},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>play_000011</key>
      <dict>
        <key>frame</key>
        <string>{{261,1009},{113,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>play.png</string>
      <key>size</key>
      <string>{682,1102}</string>
      <key>textureFileName</key>
      <string>play.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51056</real>
        <key>anchorY</key>
        <real>0.51714</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>black</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,40.95,40.95</string>
        <key>anchorX</key>
        <real>0.51282</real>
        <key>anchorY</key>
        <real>0.60928</real>
        <key>children</key>
        <dict>
          <key>i844</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,40.95,0.00,0.95238,0.95238,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>firstsecond</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,386.20,564.95</string>
        <key>anchorX</key>
        <real>0.01994</real>
        <key>anchorY</key>
        <real>0.01505</real>
        <key>children</key>
        <dict>
          <key>bg</key>
          <dict>
            <key>class</key>
            <string>asset23</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>127.20,564.95,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>but2</key>
          <dict>
            <key>class</key>
            <string>asset25</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>255.20,482.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>but1</key>
          <dict>
            <key>class</key>
            <string>asset24</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>145.20,481.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>playSymbol</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,489.70,808.45</string>
        <key>anchorX</key>
        <real>0.01572</real>
        <key>anchorY</key>
        <real>0.01051</real>
        <key>children</key>
        <dict>
          <key>but3</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>345.75,133.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>but2</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>193.70,133.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i899</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>9.70,808.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>but4</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>414.70,806.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>but1</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>38.75,133.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>ring</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,31.00,31.00</string>
        <key>anchorX</key>
        <real>0.51290</real>
        <key>anchorY</key>
        <real>0.52258</real>
        <key>children</key>
        <dict>
          <key>i930</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,31.00,0.00,0.93939,0.93939,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>startsee</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,213.20,45.90</string>
        <key>anchorX</key>
        <real>0.51947</real>
        <key>anchorY</key>
        <real>0.02179</real>
        <key>children</key>
        <dict>
          <key>i957</key>
          <dict>
            <key>class</key>
            <string>asset22</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>108.75,29.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>white</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,40.00,40.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.60000</real>
        <key>children</key>
        <dict>
          <key>i984</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,40.00,0.00,0.96349,0.96349,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>